main > button {
  margin-right: 15px;
}

#btn-count {
  background-color: #7700ff;
  padding: 18px;
  font-size: 26px;
  color: aliceblue;
  border-radius: 15px;
}

#btn-count:hover {
  filter: brightness(1.1);
}
